.main-box{height: 100px; width: 75%; margin:10px; border-radius: 15px; background-color: Green;}
#red-box{background-color:red;}
#darkred-box{background-color:darkred; width:50px;}
#green-box{background-color:green;}
#lightgreen-box{background-color:lightgreen; height:200px;}
#black-box{background-color:black; margin:30px}
#blue-box{background-color:blue;}
#lightblue-box{background-color:lightblue;}
#darkblue-box{background-color:darkblue;}
#grey-box{background-color:grey;}
#lightgrey-box{background-color:lightgrey;}